params {
    dir = '/data-weedomics-3/TEST_PSEUDOMONAS'
    species_of_interest = 'Pseudomonas_putida'
    species_of_interest_panther_HMM_for_gene_names_url = 'http://data.pantherdb.org/ftp/sequence_classifications/current_release/PANTHER_Sequence_Classification_files/PTHR17.0_pseudomonas'
    urls = "${projectDir}/../config/urls.txt"
    dates = "${projectDir}/../config/dates.txt"
    comparisons_4DTv = "${projectDir}/../config/comparisons_4DTv.txt"
    genes = "${projectDir}/../config/genes.txt"
    cafe5_n_gamma_cats = 1 // If 1 then use the base model; else use the gamma model with <cafe5_n_gamma_cats> gamma categories to test
    cafe5_pvalue = 0.01
    go_term_enrich_genome_id = 208964 // Pseudomonas_aeruginosa
    go_term_enrich_annotation_id = "GO:0008150"
    go_term_enrich_test = "FISHER"
    go_term_enrich_correction = "FDR"
    go_term_enrich_ngenes_per_test = 100
    go_term_enrich_ntests = 5
}
includeConfig 'process.config'
