params {
    dir = '/data-weedomics-3'
    src_julia_1 = '/data-weedomics-3/compare_genomes/scripts/orthogroup_classification_gene_family_GO_terms.jl'
    src_julia_2 = '/data-weedomics-3/compare_genomes/scripts/count_genes_per_ortholog_paralog_classes.jl'
    urls = 'urls.txt'
    genomes   = '*.fna'
    gff       = '*.gff'
    cds       = '*.cds'
    proteomes = '*.faa'
    cafe5_n_gamma_cats = 1000
    cafe5_pvalue = 0.01
}
includeConfig 'process.config'
