params {
    dir         = '/data-weedomics-3'
    src_julia_1 = '/data-weedomics-3/compare_genomes/scripts/orthogroup_classification_gene_family_GO_terms.jl'
    src_julia_2 = '/data-weedomics-3/compare_genomes/scripts/count_genes_per_ortholog_paralog_classes.jl'
    src_julia_3 = '/data-weedomics-3/compare_genomes/scripts/extract_single_gene_orthogroups.jl'
    src_julia_4 = '/data-weedomics-3/compare_genomes/scripts/extract_sequence_using_name_query.jl'
    src_julia_5 = '/data-weedomics-3/compare_genomes/scripts/reformat_fasta_sequence.jl'
    species_of_interest = 'Lolium_rigidum'
    species_of_interest_panther_HMM_for_gene_names_url = 'http://data.pantherdb.org/ftp/sequence_classifications/current_release/PANTHER_Sequence_Classification_files/PTHR17.0_rice'
    urls = '/data-weedomics-3/compare_genomes/config/urls.txt'
    dates = '/data-weedomics-3/compare_genomes/config/dates.txt'
    genomes   = '*.fna'
    gff       = '*.gff'
    cds       = '*.cds'
    proteomes = '*.faa'
    cafe5_n_gamma_cats = 1000
    cafe5_pvalue = 0.01
    go_term_enrich_genome_id = 39947 // Default: "Oryza sativa" | Find the genome code for the most appropriate species here: http://pantherdb.org/services/oai/pantherdb/supportedgenomes
    go_term_enrich_annotation_id = "GO:0008150" // Default: "Biological Process" | You may use a different annotation database from the list here: http://pantherdb.org/services/oai/pantherdb/supportedannotdatasets
    go_term_enrich_test = "FISHER" // Default: Fisher's Exact Test | Alternatively: "BINOMIAL" for binomial distribution test
    go_term_enrich_correction = "FDR" // Default: False discovery rate | Alternatively: "BONFERRONI" or "NONE"
    go_term_enrich_ngenes_per_test = 100 // Default: 100 genes
    go_term_enrich_ntests = 5 // Default: 5 GO term enrichment analyses

}
includeConfig 'process.config'
